@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Sintony:wght@400;700&display=swap');



/* COLORS */

:root{
  font-size: 62.5%; /* 1rem = 10px */

  --white: #fff;
  --primary-green: hsl(165, 46%, 58%);
  --nav-menu-bg: hsl(180, 10%, 16%);
  --nav-menu-font: hsl(198, 7%, 37%);
  --card-title-font: hsl(210, 7%, 49%);
  --card-text-font: hsl(205, 10%, 61%);
  --content-bg: hsl(180, 8%, 97%);
  --btn-secundary: hsl(193, 12%, 31%);
  --laptop-slider: hsl(195, 10%, 16%);
  --footer-font-color: hsl(195, 8%, 29%);
}




/* GENERICS */

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

img{max-width: 100%;}

.container{
  margin-inline: auto;
  padding-inline: 1.6rem;
  max-width: 980px;
}

.btn{
  padding: 1.5rem 4rem;
  border-radius: 3px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
  transition: .5s ease;
}

.btn:hover{background: var(--card-text-font);}

.btn-primary{
  background: var(--primary-green);  
}

.btn-secundary{
  background: var(--btn-secundary);  
}



/* HEADER */

.header{
  background: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.js .header{
  position: fixed;
  z-index: 10;
}

.logo-text{
  margin: 0;
  padding: 2.4rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;  
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary-green);
  font-size: 2.4rem;
}

.header__nav{
  display: inline-block;  
}

.header__nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header__nav li{
  list-style-type: none;
  text-align: center;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  background: var(--nav-menu-bg);
}

.header__nav li a{
  color: var(--nav-menu-font);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  padding: 2.5rem 0;
  transition: .5s ease;
}

.header__nav li a:hover{
  color: var(--primary-green);
}

.header-mobile{
  display: flex;
  justify-content: space-between;
}

.header__btnMenu{
  background: transparent;
  border: none;
  font-size: 1.4rem;
  margin: 2.4rem;
  cursor: pointer;
}

.js .header__nav{
  transition: max-height 1s;
}




/* HERO */
.hero{
  height: 80vh;
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(45deg, white 50%, transparent 50%) no-repeat left calc(50% + 2rem) bottom,
  linear-gradient(-45deg, white 50%, transparent 50%) no-repeat left calc(50% - 2rem) bottom,
  url(../img/01.jpg);
  background-size: 4rem 4rem, 4rem 4rem, cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title{
  background-color: var(--primary-green);
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 600;
  padding: 3rem 2rem;
  text-transform: uppercase;
}

.hero__text{
  background-color: var(--nav-menu-bg);
  margin: .5rem 3rem 3.5rem;
  color: var(--white);
  padding: 2rem;
  font-size: 1.6rem;
}

.hero__btn{
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
  color: var(--white);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: .3s ease;
}

.hero__btn:hover{
  border-color: var(--primary-green);
  color: var(--primary-green);
  background-color: rgba(0, 0, 0, .7);
}




/* CARDS */



.cards{
  margin-top: 4rem;
}

.cards__card{
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid transparent;
  transition: .3s ease;
}

.cards__card:hover{
  border: 5px solid var(--primary-green);
}

.cards__card:hover .card__avatar img{
  transform: translateY(-50%);
}

.cards__card:hover .card__title,
.cards__card:hover .card__text{color: var(--primary-green);}



.card__image{
  width: 100%;
}

.card__avatar{
  margin: -5.5rem auto;
  width: 8.8rem;
  height: 8.8rem;
  overflow: hidden;
}

.card__content{
  text-align: center;
  padding: 4rem 2.5rem 1rem;
  border-inline: 1px solid #dbe1e7;
  border-bottom: 1px solid #dbe1e7;
  border-radius: 10px;
}

.card__title{
  color: var(--card-title-font);
  font-size: 2.1rem;
  font-weight: 400;
}

.card__text{
  color: var(--card-text-font);
  font-size: 1.4rem;
}





/* CONTENT */




.content{
  background: var(--content-bg);
  padding: 2rem 0 8rem;
  border-top: 1px solid #e3e3e3;
}

.content__title{
  color: var(--card-title-font);
  font-size: 2.1rem;
  padding-top: 4rem;
  font-weight: 400;
}

.content__text{
  color: var(--card-text-font);
  font-size: 1.4rem;
  word-spacing: 2px;
}





/* LAST-ARTICLES */




.last-articles__title{
  background: var(--primary-green);
  padding-block: .5rem;
}

.last-articles__title h2{
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;  
}

.last-articles__thumbs{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 0;
}

.last-articles__thumbs img{
  display: block;
  width: 100%;
  filter: brightness(.5);
  transition: .5s ease;
}

.last-articles__thumbs img:hover{
    filter: brightness(1);
}




/* LAPTOP-SLIDER */




.laptop-slider{
  background: var(--laptop-slider);
  padding: 12.5rem 0 10rem;
  width: 100%;
  overflow: auto;
}

.slideshow{
  white-space: nowrap;
}

.slideshow figure{
  display: inline-block;
}


.js .laptop-slider{
  overflow: hidden;
  color: var(--white);
}

.js .laptop-slider .slideshow,
.js .quote-slider{
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 95rem;
}

.js .laptop-slider figure,
.js .quote-slider figure{
  opacity: 0;
  transition: 1s opacity;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.js .laptop-slider figure.show,
.js .quote-slider figure.show{
  opacity: 1;
  position: static;
}

.js .laptop-slider .prev,
.js .laptop-slider .next,
.js .quote-slider .prev,
.js .quote-slider .next{
  z-index: 2;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.js .laptop-slider .prev,
.js .quote-slider .prev{left: 10px;}

.js .laptop-slider .next,
.js .quote-slider .next{right: 10px;}


/* QUOTE SECTION */




.quote-section{
  background: var(--primary-green);
  padding-block: 5rem;
  border-bottom: 12px solid #48b9a1;
}

.quote-slider h2{
  color: var(--white);
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

.quote-slider figcaption{
  color: var(--white);
  font-size: 1.8rem;
  text-align: center;
}

.no-js .quote-slider figure + figure{margin-top: 8rem;}

.js .quote-slider{
   box-sizing: border-box;
  padding: 0 50px;
  color: var(--white);
}

.js .quote-slider figure h2{
  margin-top: 0;
}





/* FOOTER */




.footer{
  background: var(--laptop-slider);
  padding: 5rem 0 25rem;
  color: var(--footer-font-color);
  font-size: 1.4rem;
}

.footer h2{text-transform: uppercase;}

.footer__links li{
  list-style: none;
}

.footer__links a{
  color: var(--footer-font-color);
  display: block;
  font-weight: 600;
  text-decoration: none;
}





/* MEDIA QUERIES */
@media screen and (min-width: 481px){
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .header{
    position: fixed;
    flex-direction: row;
    z-index: 1;
  }

  .logo-text{
    width: 100%;
    text-align: end;
  }

  .header-mobile{
    width: 25%;
  }

  .header__btnMenu{display: none;}

  .header__nav{
    width: 74%;
    max-width: 800px;    
  }

  .header__nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  
  .header__nav ul li{
    border-bottom: none;
  }

  .header__nav ul a{
    background: var(--white);
    display: inline;
  }



  /* CARDS */

  .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }


  /* CONTENT */

  .content .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }




  /* LAST-ARTICLES */



  .last-articles__thumbs{grid-template-columns: repeat(6, 1fr);}



  /* FOOTER */



  .footer .container{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
}